doctype html
html(lang='en')
	head
		meta(charset="utf-8")
		title Untitled

	body
		block content
		script(src='http://code.jquery.com/jquery-2.1.1.min.js')
		script(src='http://cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0-alpha.2/handlebars.min.js')
		script(src='/js/main.js')
			

			
		